In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.cluster import KMeans
import sklearn.metrics as sm

df_iris = pd.read_csv("IRIS.csv")

In [2]:
iris_points  = df_iris.drop("species", axis=1).values

In [3]:
model = KMeans(n_clusters=3, n_init= 1000, n_jobs= 6).fit_predict(iris_points)

In [4]:
df_iris['kmeans'] = model
df_iris['kmeans'] = df_iris['kmeans']+1
df_iris['ID'] = range(1, 1+len(df_iris))

In [5]:
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,kmeans,ID
0,5.1,3.5,1.4,0.2,Iris-setosa,2,1
1,4.9,3.0,1.4,0.2,Iris-setosa,2,2
2,4.7,3.2,1.3,0.2,Iris-setosa,2,3
3,4.6,3.1,1.5,0.2,Iris-setosa,2,4
4,5.0,3.6,1.4,0.2,Iris-setosa,2,5

In [6]:
df_inf_norm_0 = pd.read_csv("iris_Assignment_INF_NORM.csv")
df_inf_norm_1 = pd.read_csv("iris_Centroid_INF_NORM.csv")

In [7]:
df_inf_norm_0 = df_inf_norm_0.drop("Unnamed: 0", axis=1)

In [8]:
df_last_assignment =  df_inf_norm_0[df_inf_norm_0['iteration'] == 16]

In [9]:
df_merge = df_iris.merge(df_last_assignment,left_on='ID',right_on='P_i').drop(['iteration','P_i'],axis =1)
df_merge = df_merge.rename(index=str, columns={"C_j": "inf_norm"})
df_merge.head()

,sepal_length,sepal_width,petal_length,petal_width,species,kmeans,ID,inf_norm
0,5.1,3.5,1.4,0.2,Iris-setosa,2,1,1
1,4.9,3.0,1.4,0.2,Iris-setosa,2,2,1
2,4.7,3.2,1.3,0.2,Iris-setosa,2,3,1
3,4.6,3.1,1.5,0.2,Iris-setosa,2,4,1
4,5.0,3.6,1.4,0.2,Iris-setosa,2,5,1

In [10]:
df_1_norm_0 = pd.read_csv("iris_Assignment_1_NORM.csv")
df_1_norm_1 = pd.read_csv("iris_Centroid_1_NORM.csv")

In [11]:
df_1_norm_0 = df_1_norm_0.drop("Unnamed: 0", axis=1)

In [12]:
df_1_last_assignment =  df_1_norm_0[df_1_norm_0['iteration'] == 11]

In [13]:
df_merge = df_merge.merge(df_last_assignment,left_on='ID',right_on='P_i').drop(['iteration','P_i'],axis =1)
df_merge = df_merge.rename(index=str, columns={"C_j": "1_norm"})
df_merge

,sepal_length,sepal_width,petal_length,petal_width,species,kmeans,ID,inf_norm,1_norm
0,5.1,3.5,1.4,0.2,Iris-setosa,2,1,1,1
1,4.9,3.0,1.4,0.2,Iris-setosa,2,2,1,1
2,4.7,3.2,1.3,0.2,Iris-setosa,2,3,1,1
3,4.6,3.1,1.5,0.2,Iris-setosa,2,4,1,1
4,5.0,3.6,1.4,0.2,Iris-setosa,2,5,1,1
5,5.4,3.9,1.7,0.4,Iris-setosa,2,6,1,1
6,4.6,3.4,1.4,0.3,Iris-setosa,2,7,1,1
7,5.0,3.4,1.5,0.2,Iris-setosa,2,8,1,1
8,4.4,2.9,1.4,0.2,Iris-setosa,2,9,1,1
9,4.9,3.1,1.5,0.1,Iris-setosa,2,10,1,1
10,5.4,3.7,1.5,0.2,Iris-setosa,2,11,1,1
11,4.8,3.4,1.6,0.2,Iris-setosa,2,12,1,1
12,4.8,3.0,1.4,0.1,Iris-setosa,2,13,1,1
13,4.3,3.0,1.1,0.1,Iris-setosa,2,14,1,1
14,5.8,4.0,1.2,0.2,Iris-setosa,2,15,1,1
15,5.7,4.4,1.5,0.4,Iris-setosa,2,16,1,1
16,5.4,3.9,1.3,0.4,Iris-setosa,2,17,1,1
17,5.1,3.5,1.4,0.3,Iris-setosa,2,18,1,1
18,5.7,3.8,1.7,0.3,Iris-setosa,2,19,1,1
19,5.1,3.8,1.5,0.3,Iris-setosa,2,20,1,1
20,5.4,3.4,1.7,0.2,Iris-setosa,2,21,1,1
21,5.1,3.7,1.5,0.4,Iris-setosa,2,22,1,1
22,4.6,3.6,1.0,0.2,Iris-setosa,2,23,1,1
23,5.1,3.3,1.7,0.5,Iris-setosa,2,24,1,1
24,4.8,3.4,1.9,0.2,Iris-setosa,2,25,1,1
25,5.0,3.0,1.6,0.2,Iris-setosa,2,26,1,1
26,5.0,3.4,1.6,0.4,Iris-setosa,2,27,1,1
27,5.2,3.5,1.5,0.2,Iris-setosa,2,28,1,1
28,5.2,3.4,1.4,0.2,Iris-setosa,2,29,1,1
29,4.7,3.2,1.6,0.2,Iris-setosa,2,30,1,1
...,...,...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,Iris-virginica,1,121,3,3
121,5.6,2.8,4.9,2.0,Iris-virginica,3,122,2,2
122,7.7,2.8,6.7,2.0,Iris-virginica,1,123,3,3
123,6.3,2.7,4.9,1.8,Iris-virginica,3,124,3,3
124,6.7,3.3,5.7,2.1,Iris-virginica,1,125,3,3
125,7.2,3.2,6.0,1.8,Iris-virginica,1,126,3,3
126,6.2,2.8,4.8,1.8,Iris-virginica,3,127,3,3
127,6.1,3.0,4.9,1.8,Iris-virginica,3,128,3,3
128,6.4,2.8,5.6,2.1,Iris-virginica,1,129,3,3
129,7.2,3.0,5.8,1.6,Iris-virginica,1,130,3,3
130,7.4,2.8,6.1,1.9,Iris-virginica,1,131,3,3
131,7.9,3.8,6.4,2.0,Iris-virginica,1,132,3,3
132,6.4,2.8,5.6,2.2,Iris-virginica,1,133,3,3
133,6.3,2.8,5.1,1.5,Iris-virginica,3,134,3,3
134,6.1,2.6,5.6,1.4,Iris-virginica,1,135,3,3
135,7.7,3.0,6.1,2.3,Iris-virginica,1,136,3,3
136,6.3,3.4,5.6,2.4,Iris-virginica,1,137,3,3
137,6.4,3.1,5.5,1.8,Iris-virginica,1,138,3,3
138,6.0,3.0,4.8,1.8,Iris-virginica,3,139,3,3
139,6.9,3.1,5.4,2.1,Iris-virginica,1,140,3,3
140,6.7,3.1,5.6,2.4,Iris-virginica,1,141,3,3
141,6.9,3.1,5.1,2.3,Iris-virginica,1,142,3,3
142,5.8,2.7,5.1,1.9,Iris-virginica,3,143,3,3
143,6.8,3.2,5.9,2.3,Iris-virginica,1,144,3,3
144,6.7,3.3,5.7,2.5,Iris-virginica,1,145,3,3
145,6.7,3.0,5.2,2.3,Iris-virginica,1,146,3,3
146,6.3,2.5,5.0,1.9,Iris-virginica,3,147,3,3
147,6.5,3.0,5.2,2.0,Iris-virginica,1,148,3,3
148,6.2,3.4,5.4,2.3,Iris-virginica,1,149,3,3
149,5.9,3.0,5.1,1.8,Iris-virginica,3,150,3,3

In [14]:
df_slice = df_merge[['ID','species', 'kmeans', 'inf_norm','1_norm']]

## Analyzing Clusters
### Proper Classification
Since all centroids are ambiguously labeled, I am going to be looking at which assignment are to where.

In [15]:
T2 = pd.crosstab(df_slice.kmeans,[df_slice.species]).round(2)
T2

species  Iris-setosa  Iris-versicolor  Iris-virginica
kmeans
1                  0                2              36
2                 50                0               0
3                  0               48              14

In [16]:
T2 = pd.crosstab(df_slice.inf_norm,[df_slice.species],)
T2

species   Iris-setosa  Iris-versicolor  Iris-virginica
inf_norm
1                  50                0               0
2                   0               42               3
3                   0                8              47

In [75]:
T2 = pd.crosstab([df_slice.species],df_slice['1_norm'])
T2

1_norm            1   2   3
species
Iris-setosa      50   0   0
Iris-versicolor   0  42   8
Iris-virginica    0   3  47

In [76]:
T2 = pd.crosstab([df_slice.kmeans],df_slice['inf_norm'])
T2

inf_norm   1   2   3
kmeans
1          0   0  38
2         50   0   0
3          0  45  17

In [77]:
T2 = pd.crosstab([df_slice.kmeans],df_slice['1_norm'])
T2

1_norm   1   2   3
kmeans
1        0   0  38
2       50   0   0
3        0  45  17

Iris-Setosa from Kmeans is all pointing to the same set of 50 as the INF Norm and 1-Norm case. In the case of Iris-Versicolor and Iris-Virginica they pointing to different subclusters.

### Looking at Each Cluster

In [78]:
temp = df_slice.loc[(df_slice['kmeans'] == 2) | (df_slice['inf_norm'] == 1)]
temp.count()

ID          50
species     50
kmeans      50
inf_norm    50
1_norm      50
dtype: int64

In [79]:
temp = df_slice.loc[(df_slice['kmeans'] == 2) | (df_slice['1_norm'] == 1)]
temp.count()

ID          50
species     50
kmeans      50
inf_norm    50
1_norm      50
dtype: int64

it appears that for Iris-Setosa it is fairly consistent and homogenous between all 3 techniques.

In [80]:
not_iris_setosa =  df_slice.loc[(df_slice['species'] != 'Iris-setosa')]
not_iris_setosa.head()

    ID          species  kmeans  inf_norm  1_norm
50  51  Iris-versicolor       3         3       3
51  52  Iris-versicolor       3         2       2
52  53  Iris-versicolor       1         3       3
53  54  Iris-versicolor       3         2       2
54  55  Iris-versicolor       3         2       2

In [81]:
iris_3 =df_slice.loc[(df_slice['kmeans'] == 3)]
iris_3.head()

    ID          species  kmeans  inf_norm  1_norm
50  51  Iris-versicolor       3         3       3
51  52  Iris-versicolor       3         2       2
53  54  Iris-versicolor       3         2       2
54  55  Iris-versicolor       3         2       2
55  56  Iris-versicolor       3         2       2

I am going to assume from above that where KMEANS thinks it is cluster 3 that the associate cluster in the bilinear case is 2 thus any points with respects to KMEAns assignnment 3 that is is assigned to 3 is misclassified

In [95]:
iris_3 = iris_3.loc[(iris_3['inf_norm'] == 3)|(iris_3['1_norm'] == 3)]

In [96]:
df_merge[df_merge['ID'].isin(iris_3['ID'])]

,sepal_length,sepal_width,petal_length,petal_width,species,kmeans,ID,inf_norm,1_norm
50,7.0,3.2,4.7,1.4,Iris-versicolor,3,51,3,3
58,6.6,2.9,4.6,1.3,Iris-versicolor,3,59,3,3
72,6.3,2.5,4.9,1.5,Iris-versicolor,3,73,3,3
76,6.8,2.8,4.8,1.4,Iris-versicolor,3,77,3,3
83,6.0,2.7,5.1,1.6,Iris-versicolor,3,84,3,3
86,6.7,3.1,4.7,1.5,Iris-versicolor,3,87,3,3
101,5.8,2.7,5.1,1.9,Iris-virginica,3,102,3,3
114,5.8,2.8,5.1,2.4,Iris-virginica,3,115,3,3
119,6.0,2.2,5.0,1.5,Iris-virginica,3,120,3,3
123,6.3,2.7,4.9,1.8,Iris-virginica,3,124,3,3
126,6.2,2.8,4.8,1.8,Iris-virginica,3,127,3,3
127,6.1,3.0,4.9,1.8,Iris-virginica,3,128,3,3
133,6.3,2.8,5.1,1.5,Iris-virginica,3,134,3,3
138,6.0,3.0,4.8,1.8,Iris-virginica,3,139,3,3
142,5.8,2.7,5.1,1.9,Iris-virginica,3,143,3,3
146,6.3,2.5,5.0,1.9,Iris-virginica,3,147,3,3
149,5.9,3.0,5.1,1.8,Iris-virginica,3,150,3,3