In [33]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.cluster import KMeans
import sklearn.metrics as sm

df_iris = pd.read_csv("IRIS.csv")

In [34]:
iris_points  = df_iris.drop("species", axis=1).values

In [35]:
model = KMeans(n_clusters=3, n_init= 1000, n_jobs= 6).fit_predict(iris_points)

In [36]:
df_iris['kmeans'] = model
df_iris['ID'] = range(1, 1+len(df_iris))

In [37]:
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,kmeans,ID
0,5.1,3.5,1.4,0.2,Iris-setosa,1,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1,2
2,4.7,3.2,1.3,0.2,Iris-setosa,1,3
3,4.6,3.1,1.5,0.2,Iris-setosa,1,4
4,5.0,3.6,1.4,0.2,Iris-setosa,1,5

In [38]:
df_inf_norm_0 = pd.read_csv("iris_Assignment_INF_NORM.csv")
df_inf_norm_1 = pd.read_csv("iris_Centroid_INF_NORM.csv")

In [39]:
df_inf_norm_0 = df_inf_norm_0.drop("Unnamed: 0", axis=1)

In [43]:
df_last_assignment =  df_inf_norm_0[df_inf_norm_0['iteration'] == 16]

In [55]:
df_merge = df_iris.merge(df_last_assignment, )

,sepal_length,sepal_width,petal_length,petal_width,species,kmeans,ID,inf_norm
0,5.1,3.5,1.4,0.2,Iris-setosa,1,1,NaN
1,4.9,3.0,1.4,0.2,Iris-setosa,1,2,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,1,3,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,1,4,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,1,5,NaN